@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;700&family=Ingrid+Darling&family=Lalezar&display=swap');
body {
    font-family: 'Lalezar', cursive;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #150759;
    background-color: #F3F0E6;
    overflow-x: hidden;
  }
  .bck{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
  }
  .header{
    position: absolute;
    left: 31.39%;
    right: 26.54%;
    top: -5%;
    bottom: 89.75%;
    
    font-family: 'Lalezar';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 75px;
    
    color: #000000;
    
  }
  .recppl{
    position: absolute;
    left: 1.8%;
    right: 1.73%;
    top: 15%;
    bottom: 3.71%; 
    border-radius: 30px;
    
  }
  .logo{
    position: absolute;
    left: 2.56%;
    right: 78.66%;
    top: 8.11%;
    bottom: 65.33%;
    
    background: url(LOGO3-removebg.png);
  }
  .Namayesh{
    position: absolute;
    left: 74.77%;
    right: 6.44%;
    top: 13.46%;
    bottom: 74.22%;
    
    font-family: 'Lalezar';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 75px;
    
    color: #150759;
    
  }
  .recwhhaft{
      
position: absolute;
left: 67.64%;
right: 5.61%;
top: 39.05%;
bottom: 8.98%;
border-radius: 30px;

  }
  .haftomTitle{
    position: absolute;
    left: 78.59%;
    right: 15.11%;
    top: 33.96%;
    bottom: 61.72%;
    
    font-family: 'Lalezar';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 75px;
    
    color: #000000;
    
  }
  .hft1{
    position: absolute;
    left: 82.4%;
    right: 9.63%;
    top: 52.23%;
    bottom: 53.81%;
    
    font-family: 'Harmattan';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 61px;
    
    color: #000000;
    
  }
  .hft2{
    position: absolute;
    left: 82.81%;
    right: 9.63%;
    top: 58.09%;
    bottom: 47.95%;
    
    font-family: 'Harmattan';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 61px;
    
    color: #000000;
    
  }
  .hft3{
    position: absolute;
    left: 82.4%;
    right: 9.49%;
    top: 63.95%;
    bottom: 42.09%;
    
    font-family: 'Harmattan';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 61px;
    
    color: #000000;
    
  }
  .recwhhasht{
    position: absolute;
    left: 36.87%;
    right: 35.62%;
    top: 39.05%;
    bottom: 8.98%;
    border-radius: 30px;
  }
  .hashtomTitle{
    position: absolute;
    left: 46.92%;
    right: 45.53%;
    top: 33.76%;
    bottom: 61.91%;
    
    font-family: 'Lalezar';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 75px;
    
    color: #000000;
    
  }
  .hsht1{
    position: absolute;
    left: 52.04%;
    right: 39.36%;
    top: 52.23%;
    bottom: 53.81%;
    
    font-family: 'Harmattan';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 61px;
    
    color: #000000;
    
  }
  .hsht2{
    position: absolute;
    left: 52.46%;
    right: 39.36%;
    top: 57.8%;
    bottom: 48.24%;
    
    font-family: 'Harmattan';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 61px;
    
    color: #000000;
    
  }
  .hsht3{
    position: absolute;
    left: 51.98%;
    right: 39.36%;
    top: 63.37%;
    bottom: 42.68%;
    
    font-family: 'Harmattan';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 61px;
    
    color: #000000;
    
    
  }
  .recwhnoh{
      
position: absolute;
left: 6.03%;
right: 66.39%;
top: 39.05%;
bottom: 8.98%;

background: rgba(243, 240, 230, 0.8);
border-radius: 30px;
  }
  .nohomTitle{
    position: absolute;
    left: 17.53%;
    right: 78.24%;
    top: 33.37%;
    bottom: 62.3%;
    
    font-family: 'Lalezar';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 75px;
    
    color: #000000;
  }
  .noh1{
    position: absolute;
    left: 22.73%;
    right: 71.24%;
    top: 52.23%;
    bottom: 54.49%;
    
    font-family: 'Harmattan';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 61px;
    
    color: #000000;
  }
  .noh2{
    position: absolute;
    left: 23.15%;
    right: 71.24%;
    top: 57.8%;
    bottom: 48.93%;
    
    font-family: 'Harmattan';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 61px;
    
    color: #000000;
    
  }
  .noh3{
    position: absolute;
    left: 22.66%;
    right: 71.24%;
    top: 63.37%;
    bottom: 43.36%;
    
    font-family: 'Harmattan';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 61px;
    
    color: #000000;
    
  }
  
