{% load static %}
<html lang="fa">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ورود</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="{% static 'accounts/staticlogin.css' %}">
</head>

<body>

    <div class="section">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-5">
                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
                        <h6 class="mb-0 pb-3"><span>  ^-^ خوشحالیم که دوباره شما رو میبینیم ^-^</span></h6>
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3">ورود</h4>
                                            <form action="" method="POST">
       {{ form.non_field_errors }}

    <div class="form-group" >

<label form="{{ form.username.id_for_label }}"></label>
        <input placeholder="نام کاربری"  autocomplete="off" class="form-style"
              {{ form.username}} {{ form.username.errors }} >
        <i class="input-icon uil uil-at"></i>

    </div>
    <div class="form-group mt-3">

        <label form="{{ form.password.id_for_label }}"></label>
        <input placeholder="رمز عبور"  autocomplete="off" class="form-style"
               {{ form.password }} {{ form.password.errors }} >
        <i class="input-icon uil uil-lock-alt"></i>
    </div>
        {% csrf_token%}
    <button type="submit" class="btn mt-4">تایید</button>
</form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

