<html lang="fa">
    <link rel="stylesheet" href="style.css" />
<head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>سیستم هوشمند سانا</title>
        </head>
        <body>
            <div class="body">
                <div class="logo">
        <img  class="pic mt-2"src="LOGO3-removebg.png" alt="sana logo">
    </div>
    
        <h1 class="ttle mt-4">به سیستم هوشمند سانا خوش آمدید</h1>
        <a   href="accounts/login" class="btnV mt-6">ورود</a>
        <a href="accounts/signup"class="btnH mt-8">ثبت نام</a>
     
     
        <img class="pic2" src="media/welcome.svg.svg" alt="">
    
    </div>


        </body>
</html>
